// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
$title-font: 'Red Hat Display';

// Colors
$red: #d35f5f;
$green: #8dd35f;
$blue: #5599ff;
$body-bg-color: #bec0c9;
$col-title-color: $body-bg-color;
$col-bg-color: #1d1e22;
$marker-color: #343638;
$disabled-color: $marker-color;
$selector-color: #dcbe55;
$property-color: #987d88;
$property-value-color: #dac264;
$comment-color: #669352;
$link-color: #bd1878;

// Borders
$black-border: 1px solid #000;

// Main
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: $body-bg-color;
    padding: 25px;
}

h1, h2, h3{
    font-family: $title-font;
    text-align: center;
}

h1{
    font-size: 48px;
    line-height: 1em;
}

h2{
    font-size: 24px;
    margin-bottom: 25px;
}

h3{
    font-size: 18px;
    padding: 15px;
    color: $col-title-color;
    font-weight: normal;
}

.row{
    display: flex;
    flex: 1;
}

.col{
    display: flex;
    flex-direction: column;
    flex: 1;
}

// Main row and cols
#main-row{
    gap: 25px;
}

#main-row .col{
    background-color: rgb(11, 14, 19);
    border: $black-border;
}

// Code column
#code-container{
    border: $black-border;
    list-style: none;
    background-color: $col-bg-color;
    font-family: 'Source Code Pro', monospace;  
    padding: 10px;
    overflow-y: scroll;
    height: 400px;
}

#code-container li{
    height: 2em;
    white-space: nowrap;
}

.marker{
    width: 25px;
    display: inline-block;
    color: $marker-color;
    text-align: right;
    margin-right: 15px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently  supported by Chrome, Edge, Opera and Firefox */
}

.selector{
    color: $selector-color;
}

.white{
    color: #fff;
}

.property{
    display: inline-block;
    text-indent: 15px;
    color: $property-color;
}

.property-value{
    color: $property-value-color;
}

.comment{
    display: inline-block;
    color: $comment-color;
    text-indent: 15px;
}

input[type=text], select{
    background: darken($color: $col-bg-color, $amount: 1);
    border: 1px solid #fff;
    outline: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: $property-value-color;
    padding-right: 5px;
}

input[type=text]{
    width: 50px;
    text-align: right;
}

input:disabled{
    color: $disabled-color;
    text-decoration: line-through;
}

// Playground
#playground-outer-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    border: $black-border;
    flex: 1;
    height: 400px;
    background-size: 20px 20px;
    background-position: center;
    background-image: linear-gradient(to right, rgb(99, 99, 99) 1px, transparent 1px), linear-gradient(to bottom, rgb(99, 99, 99) 1px, transparent 1px);
    background-color: $col-bg-color;
    margin-right: 25px;
}

#playground-container{
    display: flex;
    overflow: hidden;
    border: 1px solid rgb(251, 255, 0);
    background-color: rgba(251, 255, 0, 0.08);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.square{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#r-square{
    background-image: url('img/r-face.svg');
    background-color: $red;
}

#g-square{
    background-image: url('img/g-face.svg');
    background-color: $green;
}

#b-square{
    background-image: url('img/b-face.svg');
    background-color: $blue;
}

#playground-width-slider{
    margin: 15px 25px 15px 35px;
    height: 5px;
    outline: none;
}

#playground-height-slider{
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 5px;
    margin: 0px 15px;
    outline: none;
}

//Footer

footer{
    font-family: $title-font;
    margin-top: 20px;
    text-align: right;
}

footer a{
    text-decoration: none;
    color: $link-color;
}

footer a:hover{
    color: lighten($color: $link-color, $amount: 10)
}



// Media queries
@media only screen and (max-width: 1024px) {
    #main-row{
        display: flex;
        flex-direction: column;
    }

    footer{
        text-align: center;
    }
}