@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #bec0c9;
  padding: 25px;
}

h1, h2, h3 {
  font-family: "Red Hat Display";
  text-align: center;
}

h1 {
  font-size: 48px;
  line-height: 1em;
}

h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

h3 {
  font-size: 18px;
  padding: 15px;
  color: #bec0c9;
  font-weight: normal;
}

.row {
  display: flex;
  flex: 1;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#main-row {
  gap: 25px;
}

#main-row .col {
  background-color: rgb(11, 14, 19);
  border: 1px solid #000;
}

#code-container {
  border: 1px solid #000;
  list-style: none;
  background-color: #1d1e22;
  font-family: "Source Code Pro", monospace;
  padding: 10px;
  overflow-y: scroll;
  height: 400px;
}

#code-container li {
  height: 2em;
  white-space: nowrap;
}

.marker {
  width: 25px;
  display: inline-block;
  color: #343638;
  text-align: right;
  margin-right: 15px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently  supported by Chrome, Edge, Opera and Firefox */
}

.selector {
  color: #dcbe55;
}

.white {
  color: #fff;
}

.property {
  display: inline-block;
  text-indent: 15px;
  color: #987d88;
}

.property-value {
  color: #dac264;
}

.comment {
  display: inline-block;
  color: #669352;
  text-indent: 15px;
}

input[type=text], select {
  background: #1b1c1f;
  border: 1px solid #fff;
  outline: none;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  color: #dac264;
  padding-right: 5px;
}

input[type=text] {
  width: 50px;
  text-align: right;
}

input:disabled {
  color: #343638;
  text-decoration: line-through;
}

#playground-outer-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  border: 1px solid #000;
  flex: 1;
  height: 400px;
  background-size: 20px 20px;
  background-position: center;
  background-image: linear-gradient(to right, rgb(99, 99, 99) 1px, transparent 1px), linear-gradient(to bottom, rgb(99, 99, 99) 1px, transparent 1px);
  background-color: #1d1e22;
  margin-right: 25px;
}

#playground-container {
  display: flex;
  overflow: hidden;
  border: 1px solid rgb(251, 255, 0);
  background-color: rgba(251, 255, 0, 0.08);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#r-square {
  background-image: url("img/r-face.svg");
  background-color: #d35f5f;
}

#g-square {
  background-image: url("img/g-face.svg");
  background-color: #8dd35f;
}

#b-square {
  background-image: url("img/b-face.svg");
  background-color: #5599ff;
}

#playground-width-slider {
  margin: 15px 25px 15px 35px;
  height: 5px;
  outline: none;
}

#playground-height-slider {
  -ms-writing-mode: bt-lr;
      writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 5px;
  margin: 0px 15px;
  outline: none;
}

footer {
  font-family: "Red Hat Display";
  margin-top: 20px;
  text-align: right;
}

footer a {
  text-decoration: none;
  color: #bd1878;
}

footer a:hover {
  color: #e32594;
}

@media only screen and (max-width: 1024px) {
  #main-row {
    display: flex;
    flex-direction: column;
  }
  footer {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */